{%load static%}
<html>
<head>

		<meta charset="UTF-8">
		<title>SMART VOTING SYSTEM</title>
		<link rel="stylesheet" href="{% static 'css/update_password1.css' %}">
		<link rel="stylesheet" href="{% static 'css/update_password.css' %}">
		<!-- Boxicons CDN Link -->
		<link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel='stylesheet'>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <script type="text/javascript">
			function validate(){
				var x=document.getElementById('new_password1').value;
				var x1=document.getElementById('new_password2').value;
				if (x!== x1) {
    					passwordError.innerHTML = "Passwords do not match";
    					return false;
 					 }
			}
		</script>
</head>
<body>
	<div class="sidebar">
		<div class="logo-details">
		  <span class="logo_name">SMART VOTING SYSTEM</span>
		</div>
		  <ul class="nav-links">
			<li>
			  <a href="{% url 'student_dashboard' %}" class="active">
				<i class='bx bx-grid-alt' ></i>
				<span class="links_name">Dashboard</span>
			  </a>
			</li>
			<li>
			  <a href="{% url 'update_profile_stud' %}">
				<i class='bx bx-box' ></i>
				<span class="links_name">Update Profile</span>
			  </a>
			</li>
			<li>
			  <a href="{% url 'update_password_stud' %}">
				<i class='bx bx-list-ul' ></i>
				<span class="links_name">Update Password</span>
			  </a>
			</li>
			<!--
			<li>
			  <a href="#">
				<i class='bx bx-pie-chart-alt-2' ></i>
				<span class="links_name">Analytics</span>
			  </a>
			</li> 
			<li>
				<a href="stock_admin.html">
				<i class='bx bx-coin-stack' ></i>
				<span class="links_name">Stock</span>
			  </a>
			</li>-->
			<li>
			  <a href="{% url 'vote' %}">
				<i class='bx bx-book-alt' ></i>
				<span class="links_name">Vote</span>
			  </a>
			</li>
			<li>
			 
			<!--
			<li>
			  <a href="#">
				<i class='bx bx-heart' ></i>
				<span class="links_name">Favrorites</span>
			  </a>
			</li>   -->
			
			<!--<li>
			  <a href="#">
				<i class='bx bx-cog' ></i>
				<span class="links_name">Setting</span>
			  </a>
			</li>-->
			<li class="log_out">
				<a href="{%url 'logout_student' %}">
				  <i class='bx bx-log-out'></i>
				  <span class="links_name">Log out</span>
				</a>
			  </li>
		  </ul>
	  </div>
	<section class="home-section">
		<nav>
		  <div class="sidebar-button">
			<i class='bx bx-menu sidebarBtn'></i>
			<span class="dashboard">Dashboard</span>
		  </div>
		  
		  <div class="profile-details">
			<img src="{% static 'image/person.jpg' %}" alt="">
			<span class="admin_name">Student</span>
		  </div>
		</nav>
	
	  <div class="home-content">
		<div class="col-lg-8" style="margin:15px;">
			<label style="font-size: 40px;">Update Password</label>
			{% if messages %}
          <ul class="messages">
              {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
<form class="password-form" method="POST" action="{% url 'update_password_stud' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="current_password">Current Password</label>
      <input type="password" id="current_password" name="current_password">
    </div>
    <div class="form-group">
      <label for="new_password1">New Password</label>
      <input type="password" id="new_password1" name="new_password1">
    </div>
    <div class="form-group">
      <label for="new_password2">Confirm New Password</label>
      <input type="password" id="new_password2" name="new_password2">
    </div>
    <button type="submit" onclick="return validate()">Update Password</button>
  </form>
  </div>
</div>
</section>
<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>
  </body>
  </html>